extends ../layout/application.pug

block append variables
  - var title = 'Dev Env'

block content
  section.app-section
    .app-section-header
      h1.app-section-title.wow.bounceIn Hello World!
    .app-section-body
      .container.t-center.wow.bounceIn
        p Developed by:
          a(href="http://github.com/andrebrandaoo") &nbsp;André Brandão

  section.app-section
    .app-section-header
      h1.app-section-title.wow.bounceIn Features
    .app-section-body
      .container.t-center.wow.bounceIn
        ul
          li Gulp
          li Stylus
          li Pug
          li Jquery
          li wow.js
          li animate.css
