// Application Colors
// $primary =
// $secondary =
// $default =
// $dark =
// $light =

// $danger =
// $info =
// $success =
// $warning =

// Social Colors
$facebook = #4d64a7
$twitter = #02b1f4
$whatsapp = #3fbfa3
$google = #e82f3d
