@import "reset.styl"
@import "components/**/*.styl"

body
  font-family 'Open Sans', sans-serif
  display flex
  width 100vw
  height 100vh
  align-items center
  justify-content center
  text-align center
  font-size 70%
  overflow hidden

a
  color #06389a
  font-size 2rem
  text-decoration none
  margin-top 50px
  display block
  &:hover
      text-decoration none
